@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(79, 239, 79);
    font-family: "Poppins", sans-serif;
}
body h1{
    text-align: center;
}
.container{
    margin: 30px auto 0 auto;
    box-shadow: 0px 0px 15px indigo;
    background-color: rgba(0, 0, 0, 0.926);
    width: 85vmin;
    height: 65vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
img {
  max-width: 90%;
  max-height: 67%;
  border-radius: 5px;
  height: auto;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 25px;
}
.container button{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    outline: 0;
    bottom: 25px;
    position: absolute;
    cursor: pointer;
    background-color:rgb(79, 239, 79) ;
    border-radius: 4px;
}
button:active{
    background-color: orange;   
}
footer{
    margin: 30px;
}
